{% extends 'watsons/Base.html' %}
{% load static from staticfiles %}
{% block content %}



<h2>BreakEven</h2>

<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="提交">
</form>

<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
           <th>RFM 代碼</th>
           <th>損益平衡指數</th>
        </tr>
      </thead>
      <tbody>
        
        {% for i in new_group_list %}

          <tr>
             <td>{{ i.RFM_num }}</td>
             <td>{{ i.BreakEven_Index }}</td>
             

             
            
          </tr>
          {% endfor %}
    
        
      </tbody>
    </table>


</div>


{% endblock %}